#popup {
    height: 200px;
    width: 300px;
    border: 1px solid red;
    border-radius: 5px;
    display: none;
    text-align: center;
    color:red;
    padding:10px;
}

#parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child {
    height: 300px;
    width: 200px;
    border: 2px solid red;
    background-color: white;
    margin: 50px;
    border-radius: 5px;
}
.ad{
margin-left:70%;
}

#card
{
    text-align: center;
    border:1px solid black;
    height:15px;
    width:60%;
    border-radius: 5px;
    padding:15px;
}
.adl
{   background-color: red;
    color:white;
    border:1px black;
    border-radius: 20px;
    border:2px;
    width:20%;
    padding:8px;
   
}

.btn
{
    background-color: red;
    color:white;
    border:1px black;
    border-radius: 20px;
    border:2px;
    width:20%;
    padding:8px;
}